.header{
    height: 95vh;
    background-image: linear-gradient(
        to bottom right,
        rgba($color-primary-light, 0.644),
        rgba($color-primary-dark, 0.658) ),
    url("../img/front\ page\ 3.JPG");
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0,100% 0,100%  75vh, 0 100%);

    &__logo-box{
        position: absolute;
        top: 3.0rem;
        left: 3.0rem;
    
    
    }
    &__logo{
        height: 12.0rem;
    }
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
}